@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1px;
}

body {
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-style: normal;
}

// ==== Themes ==== //
main[data-theme="light"] {
  --text: #2b2b2b;
  --background: #ffffff;
  --primary: #ff4cd2;
  --secondary: #3c2fa8;
  --accent: #455fd0;
  --bg_filter: blur(1px) invert(1) hue-rotate(180deg) brightness(80%);
}
main[data-theme="dark"] {
  --text: #ffffff;
  --background: #2b2b2b;
  --primary: #ff4cd2;
  --secondary: #3c2fa8;
  --accent: #455fd0;
  --bg_filter: blur(1px) invert(0) hue-rotate(0deg) brightness(100%);
}
main {
  color: var(--text);
}

// ==== Mixins ==== //
@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// ==== Utility ==== //
.link {
  margin-top: 1rem;
  color: var(--primary);
  text-decoration: none;
  border: 1px solid var(--primary);
  border-radius: 16px;
  padding: 0.5em 1.5em;
  // background-color: var();
}
.link:hover,
.link:focus {
  color: var(--background);
  border: 1px solid var(--background);
  background-color: var(--primary);
}

// ==== Navbar ==== //
// Desktop
.nav_container {
  @include flex(row, flex-end, center);
  padding-inline: 1rem;
  background-color: var(--background);

  .nav-btn {
    display: none;
  }

  .nav-items {
    @include flex(row, center, center);
    list-style-type: none;

    .nav-item {
      a {
        @include flex(row, center, center);
        margin: 0.75rem 1.2rem;
        text-decoration: none;
        text-transform: capitalize;
        color: var(--text);
        transition: all 0.25s ease;
        position: relative;
      }
      a::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--primary);
        transform-origin: bottom;
        transition: transform 0.25s ease-out;
      }
      a:hover::after {
        transform: scaleX(1);
      }
    }
    .nav-item.active {
      a {
        color: var(--primary);
      }
    }
  }

  .theme-btn {
    @include flex(row, center, center);
    padding: 1px;
    border: none;
    border-radius: 50%;
    transition: all 0.25s ease;
  }
  .theme-btn:hover {
    cursor: pointer;
    outline: 3px solid var(--primary);
  }

  // Mobile
  @media screen and (max-width: 767px) {
    @include flex(column, center, center);
    position: relative;
    padding: 0;

    .nav-btn {
      @include flex(row, center, center);
      width: 100%;
      height: 32px;
      border: none;
      background-color: var(--accent);
      z-index: 2000;
    }

    .nav-items {
      position: absolute;
      flex-direction: column;
      width: 100%;
      padding-bottom: 1rem;
      border-bottom: 1px groove var(--accent);
      background-color: var(--background);
      transition: all 200ms ease;
      z-index: 1000;
    }
    .nav-items.hide-nav {
      top: -1000px;
    }
    .nav-items.show-nav {
      top: 32px;
    }
  }
}

// ==== Home Page ==== //
// HeroTop
.hero_container {
  position: relative;
  @include flex(row, center, center);
  padding: 4rem;
  height: 100svh;

  // Left-Side
  .hero_left {
    @include flex(column, center, flex-start);
    width: 50%;
  }

  // Right-Side
  .hero_right {
    @include flex(column, center, center);
    width: 50%;

    .profile_pic {
      border: 1px solid var(--text);
      border-radius: 50%;
      background-color: var(--background);
      transform: scale(1.5);
    }
  }
}
.hero_container::after {
  content: "";
  display: flex;
  position: absolute;
  inset: 0;
  background-image: url("./assets/milad_fakurian_unsplash_hi-res.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: var(--bg_filter);
  z-index: -100;
}

// Links
.home_links {
  @include flex(column, space-between, flex-start);
  padding: 2rem 4rem;
  background-color: var(--background);

  p {
    text-wrap: balance;
  }
}
// Mobile
@media screen and (max-width: 767px) {
  .hero_container {
    @include flex(column, center, center);
    padding: 0;

    .hero_right {
      margin-top: 2rem;
      margin-bottom: 2rem;

      .profile_pic {
        transform: scale(1);
      }
    }
  }
}

// Tech Card
.home_tech {
  @include flex(column, center, flex-start);
  padding: 4rem;
  // overflow-x: hidden;

  ul {
    @include flex(row, flex-start, center);
  }
}
